/* reset style*/
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: gray;

}
.txtt{
    font-size: 18px;
}
ul{
    list-style: none;
}
body{
    font-family: "Ubuntu", sans-serif;
}
p,span{
    color:#8d8d8d;
    font-weight: 200;
    font-size: 14px;
}
html{
    scroll-behavior:smooth;
}
/* globel style*/
.container{
    width: 70%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}
i{
    color: #8d8d8d;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.43);
    height: 100%;
}
/*custom style*/
nav{
    padding-top: 2%;
    background-color: rgba(0, 0, 0, 0.137);
    position: static;
    box-sizing: border-box;
}
nav ul{
    width: 40%;
}
nav h1 {
    color: white;
}
nav a:hover{
    color: white;
}
.navstyle{
    border-bottom: 1px solid lightgray;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.section1{
    background-image: url("img/panner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ico{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 4px solid;
    border-color: blue blue blue lightgray;
    color: #8d8d8d;
    text-align: center;
    font-size: 15px;
    line-height: 2;
}
.card{
    width: 30%;
    padding-top:45% ;
    padding-bottom:5% ;
    box-sizing: border-box;
}
.section1 p{
    width: 75%;
}
.section1 p:hover{
    color: white;
}
.container1{
    width: 80%;
    margin: auto;
}
.section2{
padding-top: 7%;
box-sizing: border-box;
}
.content1{
    width: 65%;
    box-sizing: border-box;
}
.content1 ul{
    width: 70%;
}
.content2{
    width: 30%;
    box-sizing: border-box;
}
.cards{
    width: 100%;
    box-shadow: 2px 2px 5px 2px lightgray;
}
.image{
    width: 30%;
}
.image img{
    width: 90%;
    height: 90px;
    display: block;
}
.con{
    width: 70%;
}
.asidecon{
    margin-left: 10px;
}
.asidecon .c{
    margin-top: 10px;
}
aside{
    border-left: 1px solid lightgray;
    box-sizing: border-box;
}
.card1{
    margin-top: 10px;
}
.contant1div1{
    width: 48%;
    box-shadow: 2px 2px 5px 2px lightgray;
    box-sizing: border-box;
}
.txt{
    margin-left: 10px;
    font-size: 18px;
}
.contant1div1 img{
    width: 100%;
    height: 200px;
}
.contant1div1 h5,.contant1div1 p{
    width: 100%;
    margin-top: 10px;
}
.contant1div2 h5{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
.contant1div2 p{
    width: 100%;
    margin-top: 10px;
}
.contant1div2{
    width: 48%;
    box-sizing: border-box;
}
.align-items-top{
    align-items: flex-start;
}
.contant1div1 span,.contant1div2 span{
    color: #8d8d8d;
}
.smallcard{
    margin-bottom: 10px;
}

.content2 p{
    margin-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}
.asidecon div{
    margin: auto;

}
.icon{
    padding: 20px;
    font-size: xx-large;
}
.iconsaside i{
width: 30px;
height: 30px;
text-align: center;
line-height: 2;
border: 1px solid #8d8d8d;
border-radius: 50%;
margin-top: 10px;
margin-left: 10px;
}
.iconsaside{
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.lastinaside img{
width: 90%;
}
.lastinaside{
    text-align: center;
    margin-top: 20px;
}
.section3 h5{
    color: white;
    width: 100%;
    padding-top: 50px;
    font-size: 18px;
    padding-bottom: 20px;
}
.section3 p{
    padding-top: 10px;
    padding-bottom: 20px;
}
.section3 .sec3div1{
    width: 32%;
    background-image:url(../css/img/8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;

} 
.section3 .sec3div2{
    width: 32%;
    background-image:url(../css/img/9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;

} 
.section3 .sec3div3{
    width: 32%;
    background-image:url(../css/img/10.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;

} 
.section4 p{
    font-size: 14px;
    padding-top: 10px;
}
.section4 h5{
    font-size: 18px;
}
.section4 img{
height: 148px;
}
iframe{
    width: 100%;
}
.sec4con1,.sec4con2{
    box-shadow: 2px 2px 5px 2px lightgray;
}
.section4{
    margin-top: 50px;
}
.btn{
text-align: center;
padding: 20px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8d8d8d;
    border:1px solid #8d8d8d;
    background-color: white;
    border-radius: 20px;
}
button:hover{
    transition: 1s;
    background-color: blue;
    color: white;
}
.sec5div1 ,.sec5div2,.sec5div3{
    width: 30%;
}
.section5{
    background-color: #161616;
    padding-top: 60px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.section5 h1,.section5 h5{
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}
.sec5div2 ul{
    margin-bottom: 25px;
}
.sec5div3 input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #161616;
    padding: 10px;
    font-size:medium;
}
